body{
    background: #F1F6FF;

    margin:0;
    display: flex;
    align-items: center;
    text-align: center;
}
.c1{
    position: absolute;
}


.container{
/* Background */
position: absolute;
width: 331px;
height: 331px;
left: 135px;
top: 194px;
background: #FFFFFF;
box-shadow: 0px 6px 18px rgba(189, 208, 223, 0.35);
border-radius: 2px;
}


.container2{
    display: center;
    margin-top: 1em;
    margin-bottom: 1em;

}


.box{
    position: absolute;
    
}

.input{
    position: auto;
width: 150px;
height: 48px;
left: 166px;
top: 266px;
margin-top: .5em;
margin-right: .9rem;
}

.opt1{
    position: absolute;
    width: 37px;
    height: 20px;
    left: 371px;
    top: 280px;

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #1E2455;
}
.opt2{
    position: absolute;
    width: 50px;
    height: 20px;
    left: 179.73px;
    top: 418px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #000000;
}
.equals{
    margin-top: 1em;
    margin-bottom: 1em;
   position: center;
   border-radius: 2px;


}